/* CSS for LabXBlock */

.labxblock_block .count {
    font-weight: bold;
}

.labxblock_block p {
    cursor: pointer;
}



/* CSS for FeedbackXBlock */

/* Overall block. We limit width, and put a very faint
   border around it. */
   .labxblock_block {
    max-width: 450px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
    padding: 10px
}



/* Label for the freeform text input. We want a little
   space between this and the Likert input.*/
.labxblock_block .feedback_header_div {
    margin-top:1em;
}

/* Fieldset for the Likert radio buttons */
.labxblock_block .feedback_likert_field {
    padding: 0px;
    margin: 0px;
}

/* The div around everything with a radio button */
.labxblock_block .feedback_likert_rating {
    cursor: pointer;
    border-radius:5px;
    display:inline-block;
    text-align:center;
    padding:0px 10px 0px 10px;
}



/* But show it if we are checked... */
.labxblock_block input[type="radio"]:checked ~ .feedback_icon_active{
    display: inline-block;
}
/* ... while hiding the unchecked icon */
.labxblock_block input[type="radio"]:checked ~ .feedback_icon_inactive{
    display: none;
}


.labxblock_block input[type="radio"]:focus ~ .feedback_icon {
   border-color: #999999;
}

.labxblock_block input[type="radio"]:hover ~ .feedback_icon {
   border-color: #999999;
}

.labxblock_block .feedback_likert_label {
    cursor: pointer;
}

.labxblock_block .feedback_freeform_input {
    margin-bottom: 1em;
}

.labxblock_block .feedback_freeform_area {
    height:inherit;
}

.labxblock_block .feedback_rating_active {
    color: blue;
    font-weight: bold;
    background-color: blanchedalmond;
}

.labxblock_block .feedback_radio {
    opacity:0;
    width:1px;
    padding:0px;
    margin:0px;
    position:absolute;
}

.labxblock_block .feedback_sr_text{
    opacity:0;
    width:1px;
    height:1px;
    padding:0px;
    margin:0px;
    position:absolute;
    clip:rect(1px,1px,1px,1px);
    left:-10000px;
    overflow:hidden;
}

.labxblock_block label{
    display:inline;
}

.labxblock_block .feedback_likert_field {
    border-style:none;
}
.labxblock_block .feedback_submit_feedback {
    width:100%;
}

.labfunix_block{
    display: flex;
    gap:'20px'
}